<header>
    <nav>
        <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
                <li><a href="{% url 'receipts:category_list' %}">Expense Categories</a></li>
                <li><a href="{% url 'receipts:account_list' %}">Accounts</a></li>
                <li><a href="{% url 'receipts:create_receipt' %}">Create Receipt</a></li>
            {% else %}
                <li><a href="{% url 'accounts:signup' %}">Sign Up</a></li>
                <li><a href="{% url 'accounts:login' %}">Login</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
