<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'signup' %}">Sign Up</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1>Signup</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <label for="{{ form.password.id_for_label }}">Password:</label>
                {{ form.password }}
                <label for="{{ form.password_confirmation.id_for_label }}">Confirm Password:</label>
                <form action="" class="password_confirmation"></form>
                <button type="submit">Signup</button>
            </form>
        </div>
    </main>
</body>
</html>
